#replay-widget-container{
    position: absolute;
    z-index: 9999;
    width:100%
}

.center-element{
    margin-top:11px;
    margin-left:10px;
}

mat-slider {
    width: 335px;
  }

